<div class="container old-paper">
  <div class="confirmation">
    <h1>Well done Jack !</h1>
    <%= image_tag "welldonejack.gif", height: 400 %>
    <div class="card-mybookings">
      <h2 ><%= @booking.vessel.name %></h2>
      <h3>Price</h3>
      <p><%= @booking.price %> $</p>
      <h3>Date</h3>
      <div class="card-mybookings-dates">
        <span><%= @booking.start_date%> <i class="fas fa-arrow-circle-right"></i> <%= @booking.end_date%></span>
      </div>
      <h3>Options</h3>
      <% @booking.selected_options.each do |se| %>
      <p><%= Option.find(se.option_id).name %> - Quantity: <%= se.quantity%></p>
      <% end %>
    </div>
    <div><%= link_to 'My Dashboard', dashboard_path, class: "btn btn-danger" %></div>
  </div>

  <div class="container-fluid padded" style="padding-top: 3em;">
    <div class="row">
      <div class="col col-xs-12">
        <% if @booking.end_date.past?  %>
        <%= simple_form_for [@vessel, @review] do |f| %>
        <%= f.input :content %>
        <%= f.input :rating %>
        <%= f.submit 'Add Review', class: "btn btn-danger" %>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
