<%= link_to booking_path(booking) do %>
<div class="card-mybookings shaddow">
  <div class="card-mybookings-image" style="background-image: linear-gradient(-225deg, rgba(215, 68, 56,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= booking.vessel.photo.url(:card) %>);">
  </div>

  <div class="card-mybookings-infos">
    <h2><%= booking.vessel.name%></h2>
    <h3><%= booking.price%>$</h3>
    <div class="card-mybookings-dates">
      <span><%= booking.start_date%> <i class="fas fa-arrow-circle-right"></i> <span><%= booking.end_date%></span>
    </div>
  </div>
</div>
<% end %>
