<div class="vessel_options">
  <h3>Options</h3>
  <% if  current_user != @vessel.user%>

  <form>
    <% vessel_options.each_with_index do |vessel_option, index| %>
    <div  class="options" data-index=<%= index %>>
      <div>
        <input data-index=<%= index %> class="opt" type="checkbox" name="<%= vessel_option.option.id %>"/>
        <h4 style="display: inline;"><%= vessel_option.option.name %> </h4>
        <div style="display: inline-block;">
          <input data-index=<%= index %> data-price=<%= vessel_option.option.price %> class="qty form-control input-sm" style="display:none" type="text" name="<%= "#{vessel_option.option.id}_quantity" %>""/>
        </div>
        <div style= "float:right;">
          <span ><%= vessel_option.option.price %></span>
          <span> $</span>
        </div>
      </div>
      <div><%= vessel_option.option.description %></div>


    </div>
    <% end %>
  </form>

  <% else %>

  <form>
    <% vessel_options.each do |vessel_option| %>
    <div class="options">
      <span><%= vessel_option.option.name %></span>
      <span><%= vessel_option.option.description %></span>
      <%= link_to "Delete", vessel_vessel_option_path(vessel_option.vessel, vessel_option),
      method: :delete,
      data: { confirm: "Are you sure?" } , class: "btn btn-danger"%>
    </div>
    <% end %>
  </form>

  <%= render 'vessel-options/form', vessel: vessel, vessel_option: vessel_option%>
  <% end %>
</div>
