<%= render 'card-banner', vessel: @vessel %>

<div class="container-fluid">
  <div class="row padded">
    <% if current_user == @vessel.user %>
      <%= render 'vessels/configure',
        vessel: @vessel,
        vessel_options: @vessel_options,
        vessel_option: @vessel_option %>
    <% else %>
      <%= render 'vessels/booking',
      vessel: @vessel,
      booking: @booking,
      vessel_options: @vessel_options,
      crews: @crews %>
    <% end %>
  </div>
  <div class="row padded">
    <%= render 'vessels/reviews', vessel: @vessel%>
  </div>
</div>

<div class="links">
  <%= link_to 'Back', vessels_path, class: "btn btn-danger" %>
</div>


<%= javascript_pack_tag 'selected_options' %>


